:root{
    /*Aqui establezco los colores o variables globales*/
    --color-rosado-hnb: #ef476f;
    --color-amarillo-hnb: #ffd166;
    --color-verde-hnb: #06d6a0;
    --color-azulclaro-hnb: #118ab2;
    --color-azuloscuro-hnb: #073b4c;
    --color-azulcielo-hnb: #0068c9;
    --color-negro-hnb: #222222;

}

html {  
    scroll-behavior: smooth;  
}

body{
    font-family: 'Roboto', sans-serif;
}

.seccion-titulo{
    height: 22vw;
    overflow: hidden;
    position: relative;
    background-color: #118ab2;

}

.rectangulo-fondo{
    background-color: #073b4cc7;
    height: 40vw;
    width: 52vw;
    transform: rotate(-10deg) translate(-1vw) translateY(-10vw);
    position: absolute;

}

.palabras-clave a{
    cursor: crosshair;
    background: linear-gradient(90deg, #0068c9, #07194c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.palabras-clave a:hover{
    cursor: crosshair;
    background: linear-gradient(90deg, #0068c9, #07194c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.texto-trabajo{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 2vw;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.titulo-trabajo, .descripcion-trabajo, .año-trabajo, .frase-trabajo{
    color: white;
}

.titulo-trabajo{
    font-weight: 700;
}

.descripcion-trabajo{
    width: 90%;
    text-align: justify;
    font-size: 1.2vw;
}

.año-trabajo{
    font-size: 2.3vw;
    font-weight: 700;
}

.frase-trabajo{
    font-size: 1.5vw;
    font-style: italic;
    font-weight: 400;
}

.seccion-objetivos, .seccion-colores, .seccion-tecnologias, .galeria{
    margin-top: 11vw;
}

.galeria{
    padding-bottom: 5vw;
}

.texto-explicativo-objetivos{
    font-size: 1.3vw;
    font-weight: 500;
    text-align: justify;
    width: 40%;
    margin-top: 1vw;
    margin-left: 5vw;
}

.galeria-titulo, .tecnologias-titulo, .encabezado-objetivos{
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: 900;
    margin-left: 5vw;
}

.encabezado-colores{
    font-family: 'Roboto', sans-serif;
    font-size: 2vw;
    font-weight: 900;
}

.contenido-objetivos{
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    justify-content: flex-start;  
    width: 100%;
}

.texto-objetivos{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.fa-microscope{
    font-size: 18vw;

    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(167,70,252,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.contenedor-img-scroll {
    /*transform: translateY(-10vw);*/
    width: 40%;
    height: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translate(-10vw, -5vw);

}

.imagen-scroll1{
    /*position: absolute;*/
    /*width: 50px;*/
    width: 100%;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenedor-tarjetas{
    /*position: absolute;*/
    /*width: 50px;*/
    width: 100%;
    /*height: 13vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.texto-ilustrativo-tarjetas{
    text-align: center;
    font-size: 1.1vw;
    font-weight: 700;
}

/*TARJETA JUGADOR*/
.tarjetas-jugador{
    /*width: 40%;*/
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: white;
    height: 100%;
    width: 40%;
    background-color: var(--color-azuloscuro);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vw;
    border-radius: 10%;
    overflow: hidden;
    /*background-image: url(../Imagenes/anakin.jpg);*/
    background-size: cover;
}

.tarjeta-muestra1{
    background-image: url(../Imagenes/anakin.jpg);
}

.tarjeta-muestra2{
    background-image: url(../Imagenes/william.jpg);
}

.nombre-tarjeta{
    width: 100%;
    height: 2vw;
    font-size: 1vw;
    display: flex;
    justify-content: center;
    padding-top: 0.4vw;
    background-color: rgba(0, 0, 0, 0.63);
}

.iconos-vasos{
    display: flex;
    flex-direction: row;
    align-self: flex-start; /*Para que se alinee el solo a la izquierda*/
    margin-left: 0.5vw;
    margin-top: 3.1vw;
}

.fa-cocktail{
    margin-right: 0.5vw;
    padding-top: 0.2vw;
}

.fa-plus{
    cursor: pointer;
    width: 50%;
    display: flex;
    text-align: center;
    padding-top: 0.6vw;
    background-color: rgba(255, 255, 255, 0.233);
}

.fa-plus:hover{
    background-color: whitesmoke;
    color: black;
}

.iconos-abajo{
    width: 100%;
    height: 27%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.fa-times{
    color: var(--color-rosado);
    cursor: pointer;
}

.cruz-tarjetas{
    width: 50%;
    display: flex;
    text-align: center;
    padding-top: 0.6vw;
    background-color: #f8154a42;
}

.cruz-tarjetas:hover{
    background-color: #fa174ccc;
    color: white;
}
/*TARJETA JUGADOR*/

.imagen-scroll2{
    /*position: absolute;*/
    /*width: 50px;*/
    background-size: cover;
    width: 100%;
    color: black;
    
}

.nombre-tipografia-titulo{
    text-align: center;
    font-size: 3vw;
    font-family: 'Bowlby One SC', cursive;
    border-top: black solid 2px;
}

.nombre-tipografia-principal{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 4vw;
    border-top: black solid 2px;
    border-bottom: black solid 2px;
}

.texto-ilustrativo-fuentes{
    text-align: center;
    padding-bottom: 1vw;
    font-size: 1.1vw;
    font-weight: 700;
}

.brbig{
    display: block;
    margin-bottom: 2vw;
}

.brmedium{
    display: block;
    margin-bottom: 1vw;
}

.brsmall{
    display: block;
    margin-bottom: 0.3vw;
}

.seccion-colores{
    height: 16vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Roboto', sans-serif;
}

.izquierda-colores{
    width: 20%;
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.derecha-colores{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.palabras-clave{
    font-family: 'Roboto', sans-serif;
    margin-top: 3vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 1vw;
    font-size: 1.5vw;
    font-weight: 700;

    background: linear-gradient(90deg, rgb(170, 117, 250), rgb(149, 79, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@keyframes arribaAbajo {
    50%{
        transform: translateY(-0.4vw);
        
    }

    100%{
        transform: translateY(0.1vw);
        
    }
}

.texto-colores1:hover{
    background: linear-gradient(90deg, rgb(170, 117, 250), rgb(149, 79, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: arribaAbajo 1s infinite ease-out;
    cursor: crosshair;
}

.texto-colores2:hover{
    background: linear-gradient(90deg, rgb(170, 117, 250), rgb(149, 79, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: arribaAbajo 1s infinite ease-out;
    cursor: crosshair;
}

.texto-colores3:hover{
    background: linear-gradient(90deg, rgb(170, 117, 250), rgb(149, 79, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: arribaAbajo 1s infinite ease-out;
    cursor: crosshair;
}

.texto-colores4:hover{
    background: linear-gradient(90deg, rgb(170, 117, 250), rgb(149, 79, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: arribaAbajo 1s infinite ease-out;
    cursor: crosshair;
}

.texto-explicativo-colores{
    font-size: 1.3vw;
    font-weight: 500;
    text-align: justify;
    width: 92%;
}

.titulos-colores{
    font-size: 2.2vw;
    font-weight: 800;
    width: auto;
}

.primer-color{
    color: #EF476F;
    cursor: crosshair;
}

.primer-color:hover{
    color: #ee0e42;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.segundo-color{
    color: #FFD166;
    cursor: crosshair;
}

.segundo-color:hover{
    color: #fcb40e;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.tercer-color{
    color: #06D6A0;
    cursor: crosshair;
}

.tercer-color:hover{
    color: #00ffbb;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.cuarto-color{
    color: #118AB2;
    cursor: crosshair;
}

.cuarto-color:hover{
    color: #005d7c;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.quinto-color{
    color: #0068C9;
    cursor: crosshair;
}

.quinto-color:hover{
    color: #007ff7;
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

.seccion-proposito{
    margin-top: 2vw;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.texto-proposito{
    width: 90%;
    text-align: justify;
    font-size: 1.2vw;
}

.seccion-imagenes{
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-iconos-tecnologias{
    width: 100%;
    margin-top: 3vw;
    font-size: 8vw;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 7vw;
    row-gap: 6vw;
    align-items: center;
}

.fab, .iconify{
    cursor: crosshair;
}

.fa-html5{
    color: #e34f26;
}

.fa-html5:hover{
    animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
}

.fa-css3-alt{
    color: #267ee3;
}

.fa-css3-alt:hover{
    animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
}

.fa-js{
    color: #f7df1e;
}

.fa-js:hover{
    animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
}

.adobe-xd{
    color: #85007a;
    border: solid 4px;
    border-color: rgb(221, 19, 211);
    border-radius: 20%;
    background-color: rgb(221, 19, 211);
}

.adobe-xd:hover{
    animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
}

.adobe-photoshop{
    color: #001749;
    border: solid 4px;
    border-color: rgb(34, 201, 252);
    border-radius: 20%;
    background-color: rgb(34, 201, 252);
}

.adobe-photoshop:hover{
    animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
}

.fa-trello{
    color: #0079bf;
}

.fa-trello:hover{
    animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
}

.jquery{
    color: #7acef4;
}

.jquery:hover{
    animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
}

.mysql{
    color: #00758f;
}

.mysql:hover{
    animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
}

.visual-studio{
    color: rgb(12, 111, 224);
}

.visual-studio:hover{
    animation: shake 3s infinite cubic-bezier(.36,.07,.19,.97) both;
}

.contenedor-texto-tecnologias{
    width: 100%;
    margin-top: 5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-explicativo-tecnologias{
    font-size: 1.3vw;
    font-weight: 500;
    text-align: justify;
    width: 60%;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(0, -3px, 0);
    }
    
    20%, 80% {
      transform: translate3d(0, 3px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0, -3px, 0);
    }
  
    40%, 60% {
      transform: translate3d(0, 3px, 0);
    }
  }

/*Carousel*/
.carousel {
    background: rgb(255, 255, 255);
    margin-top: 2vw;
}

.carousel img {
    display: block;
    height: 11vw;
}
  
@media screen and ( min-width: 768px ) {
    .carousel img {
      height: 22vw;
    }
}



  /*        <div class="galeria-titulo">GALERÍA:</div>
        <div class="carousel"
        data-flickity='{ "imagesLoaded": true, "percentPosition": false, wrapAround: true }'>
        <img src="../Imagenes/Descansar.png" alt="pantalla descansar" />
        <img src="../Imagenes/Despedidad.png" alt="pantalla despedida" />
        <img src="../Imagenes/Esperando Llamada.png" alt="pantalla esperando llamada" />
        <img src="../Imagenes/Nuevo Paciente.png" alt="pantalla nuevo paciente" />
        <img src="../Imagenes/Saludar.png" alt="pantalla saludar" />
      </div>*/
