.parrafo-informacion2, .contenedor-boton{
    display: none;
}


    .seccion-informacion{
        height: 90%; /*De esta manera no tengo scroll en la pagina, lo cual no me interesa*/
        display: flex;
        justify-content: start;
        flex-direction: row;
    }
    
    .contenedor-izquierda{
        height: 100%;
        width: 60%;
    }
    
    .contenedor-derecha{
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: start;
    }
    
    .contenedor-cabecera-seccion{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }
    
    .nombre{
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 5vw;
        margin-bottom: 0;
    }
    
    .apellido{
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 5vw;
        transform: translate(-0%, -5vw);
    }
    
    .nombre.dark{
        color: whitesmoke
    }
    
    .apellido.dark{
        color: whitesmoke
    }
    
    /*Linea Verical 1*/
    .v1{
        border-left: 4.5vw solid var(--color-violet);
        height: 1vw;
        transform: translate(0, -2.3vw);
        margin-left: 1vw;
        margin-right: 1vw;
    }
    /*Linea Vertical 1*/
    
    .parrafo-informacion{
        margin: 0;
        width: 50%;
        font-family: 'Roboto', sans-serif;
        font-size: 1.7vw;
        margin-left: 7vw;
        transform: translate(0, -7.2vw);
        text-align: justify;
    }
    
    .parrafo-informacion.dark{
        color: whitesmoke;
    }
    
    .contenedor-fondo-redes{
        width: 32%;
        /*display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;*/
    }
    
    .fondo-redes{
        /*border-left: 26vw solid var(--color-violet);*/
        background-image: linear-gradient(to bottom right, var(--color-morado), var(--color-violet));
        width: 43%;
        height: 5vw;
        transform: translate(0, -4vw);
        margin-left: 9.2vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    
        font-size: 2vw;
        color: white;
    
    }
    
    .fa-linkedin, .fa-envelope, .fa-instagram, .fa-twitter{
        text-shadow:1px 3px rgba(0, 0, 0, 0.281);
        transition: transform 0.1s ease-in-out;
    
    }
    
    .fa-linkedin:hover, .fa-envelope:hover, .fa-instagram:hover, .fa-twitter:hover{
        text-shadow:1.2px 4px rgba(0, 0, 0, 0.404);
        cursor: pointer;
        /*transform: translate(0, -0.1vw);*/
        animation: agitar 1s;
        
    }
    
    @keyframes agitar {
        25% {
            transform: rotate(2deg); /*roto derecha*/
            transform: scale(1.1);
        }
    
        50%{
            transform: rotate(-2deg); /*posicion inicial*/
            
        }
    
        75%{
            transform: rotate(-2deg); /*rota izquierda*/
        }
    
        /*100%{
            transform: rotate(2deg); /*Aqui ya lo dejamos como al pinricpio*/
        /*}*/
    
    }
    
    .seccion-img{
        width: 28vw;
        transform: translate(-10vw, 1.3vw);
        
    }
    
    .parrafo-derecha{
        display: none;
        margin: 0;
        width: 55%;
        font-family: 'Roboto', sans-serif;
        font-size: 1.7vw;
        /*margin-left: 7vw;*/
    }
    
    .flecha{
        width: 3.5vw;
        height: 3.5vw;
        box-sizing: border-box;
        position: absolute;
        transform: rotate(45deg); /*Rotamos el "cuadrado" para hacer que sea una flecha hacia la derecha*/
        top: 22vw;
        cursor: pointer;
    }
    
    .flecha:before {
        content: '';
        width: 5vw;
        height: 5vw;
        border-width: .8vmin .8vmin 0 0;
        border-style: solid;
        border-color: black;
        transition: .2s ease;
        display: block;
        transform-origin: 100% 0;
        
    }
    
    .flecha.dark:before {
        border-color: whitesmoke;
    }
    
    .flecha:after {
        content: '';
        float: left;
        position: relative;
        top: -5.15vw;
        left: 1.5vw;
        width: 100%;
        height: 100%;
        border-width: 0 .7vmin 0 0;
        border-style: solid;
        border-color: var(--color-black);
        transform-origin: 100% 0;
        transition:.2s ease;
    }
    
    .flecha.dark:after {
        border-color: whitesmoke;
    }
    
    .flecha:hover::after {
        transform: rotate(45deg);
        border-color: var(--color-violet);
        height: 120%;
    }
    
    .flecha:hover::before {
        border-color: var(--color-violet);
        transform: scale(.8);
    }


@media screen and (max-width:620px) {

    .sobremi{
        display: none;
    }

    .seccion-informacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    }

    .contenedor-izquierda{
        height: 60%;
        width: 80%;
        margin-top: 10vw;
        transform: translateX(5vw);
    }

    .fondo-redes{
        /*border-left: 26vw solid var(--color-violet);*/
        transform: rotate(-90deg) translate(3vw, 17vw);
        height: 9vw;
        width: 100%;
        font-size: 4vw;
    }

    .fa-linkedin, .fa-envelope, .fa-instagram, .fa-twitter{
        transform: rotate(90deg);
    
    }
    
    .contenedor-derecha{
        display: none;
    }

    .contenedor-flecha{
        display: none;
    }

    .nombre, .apellido{
        font-size: 7vw;
    }

    .parrafo-informacion, .parrafo-informacion2{
        font-family: 'Roboto', sans-serif;
        font-size: 3vw;
    }

    .parrafo-informacion2{
        display: block;
        color: black;
        margin: 0;
        width: 50%;
        margin-left: 7vw;
        transform: translate(0, -7.2vw);
        text-align: justify;
    }

    .parrafo-informacion2.dark{
        color: whitesmoke;
    }

    /*Boton*/
.contenedor-boton{
    width: 100%;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-2vw);
}

.boton-inicio{
    display: flex; /*Para alinear el texto*/
    align-items: center;
    justify-content: center;
    height: 10.5vw;
    width: 25vw;
    background: var(--color-morado);
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2.8vw;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all; /*El transition lo usamos para que se aplique a todas las animaciones,y el all es para indicarles que las transicion es aplicable a todos los elementos*/
    border-radius: 50px;
    position: relative; /*Esto para que el pseudoelemento after no se me salga del boton*/
    overflow: hidden; /*asi respeta los bordes redondeados y ademas la capa no se sale del boton*/
}

.boton-inicio::after{
    content: '';
    width: 100%;
    height: 300px; /*Quiero que sea mucho mas grande, ya que le voy a dar forma redondeada abajo*/
    background: var(--color-morado);
    position: absolute;
    z-index: 1; /*Para que quede por detras del texto*/
    top: -300px;
    left: 0;
    transition: 0.4s ease-in-out all; /*Tiene otra vez transition porque el after es un elemento a parte*/
    border-radius: 0px 0px 300px 300px;
}

.boton-inicio:hover::after{ /*Aqui estamos diciendo que cuando hacemos hover al boton quiero acceder al elemento after*/
    top: 0; 
}

.boton-inicio span{
    position: relative;
    z-index: 2; /*Para que quede por encima del pseudoelemento*/
    transition: .3s ease all;

}
/*Boton*/

}



