:root {
    --color-violet: #AE78FF;
    --color-white: #fdffff;
    --color-black: #000;
    --color-morado: #822fff;
}

.seccion-informacion{
    width: 90%;
    margin: auto;
    padding-top: 4vw;
}

.contenedor-trabajos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3 columnas cada una con el 33%*/
    gap: 20px;
}

.trabajo{
    display: flex;
    align-items: center;
    justify-content: center;
    /*Asi centro el div de los textos entero dentro de este div, que no es lo mismo que centrar el texto, ya que el div tiene su propia height*/
    border-radius: 10px;
    min-height: 18vw;
    color: white;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.2vw;
    height: 10vw;

}

.trabajo::before{ /*1li 1LI 1lI 0O Esto es para oscurecer las imagenes del fondo*/
    content: ''; /*Con esto hacemos que se vea lo que pintamos*/
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--color-black);
    opacity: 0;
    transition: opacity 0.4s linear;
}

.trabajo:hover:before{
    opacity: 0.6;
}

.trabajo img{
    width: 100%;
    height: 100%;
    /*transform: translate(0, 5.2vw);*/
}

.textos{
    width: inherit; 
    text-align: center;
    position: absolute;
    top: 100%; 
    transition: top .3s ease-out;
}

.trabajo:hover .textos{
    top: 40%;
}

.tarjeta-tfg{
    background-color: white;
}

/*Boton*/
.contenedor-boton{
    width: 100%;
    height: 7vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-inicio{
    display: flex; /*Para alinear el texto*/
    align-items: center;
    justify-content: center;
    height: 3.5vw;
    width: 11vw;
    background: #141414;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.1vw;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all; /*El transition lo usamos para que se aplique a todas las animaciones,y el all es para indicarles que las transicion es aplicable a todos los elementos*/
    border-radius: 50px;
    position: relative; /*Esto para que el pseudoelemento after no se me salga del boton*/
    overflow: hidden; /*asi respeta los bordes redondeados y ademas la capa no se sale del boton*/
}

.boton-inicio::after{
    content: '';
    width: 100%;
    height: 300px; /*Quiero que sea mucho mas grande, ya que le voy a dar forma redondeada abajo*/
    background: var(--color-morado);
    position: absolute;
    z-index: 1; /*Para que quede por detras del texto*/
    top: -300px;
    left: 0;
    transition: 0.4s ease-in-out all; /*Tiene otra vez transition porque el after es un elemento a parte*/
    border-radius: 0px 0px 300px 300px;
}

.boton-inicio:hover::after{ /*Aqui estamos diciendo que cuando hacemos hover al boton quiero acceder al elemento after*/
    top: 0; 
}

.boton-inicio span{
    position: relative;
    z-index: 2; /*Para que quede por encima del pseudoelemento*/
    transition: .3s ease all;

}
/*Boton*/

@media screen and (max-width:620px) {

    .seccion-informacion{
        width: 40%;
        margin: auto;
        padding-top: 10vw;
    }

    .contenedor-trabajos{
        display: grid;
        grid-template-columns: repeat(1, 1fr); /*3 columnas cada una con el 33%*/
        gap: 20px;
    }

    .contenedor-boton{
        margin-top: 6vw;
    }

    .boton-inicio{
        height: 10.5vw;
        width: 25vw;
        font-size: 2.8vw;
    }

    .trabajo{
        font-size: 2vw;
    }

    .trabajo:hover .textos{
        top: 28%;
    }

}